<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-black h-screen flex items-center justify-center">
    <div class="bg-gray-900 shadow-lg rounded-lg p-8 max-w-md w-full text-gray-300 py-12">
        <h1 class="text-3xl font-bold text-center text-white mb-6">Conversinha</h1>
        
        <!-- Seção de Login -->
        <div class="mb-8">
          <h2 class="text-xl text-white mb-4">Faça seu login</h2>
          <form id="login_form" class="space-y-4">
            <div>
              <label for="email" class="block mb-1">Login:</label>
              <input type="text" name="login_email" class="w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-300" placeholder="Digite seu email ou usuário">
              <div id="email_login_error" class="text-red-500 mt-1"></div>
            </div>
            <div>
              <label for="password" class="block mb-1">Senha:</label>
              <input type="password" name="login_password" class="w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-300" placeholder="Digite sua senha">
              <div id="password_login_error" class="text-red-500 mt-1"></div>
            </div>
            <button type="submit" class="w-full bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">Login</button>
            <div id="login_error" class="text-red-500 mt-2"></div>
          </form>
        </div>
    
        <!-- Seção de Cadastro -->
        <div>
          <h2 class="text-xl text-white mb-4">Faça seu cadastro</h2>
          <form id="signup_form" class="space-y-4">
            <div>
              <label for="usuario" class="block mb-1">Usuário:</label>
              <input type="text" name="signup_username" class="w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-300" placeholder="Escolha seu nome de usuário">
              <div id="user_signup_error" class="text-red-500 mt-1"></div>
            </div>
            <div>
              <label for="email" class="block mb-1">Email:</label>
              <input type="email" name="signup_email" class="w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-300" placeholder="Digite seu email">
              <div id="email_signup_error" class="text-red-500 mt-1"></div>
            </div>
            <div>
              <label for="password" class="block mb-1">Senha:</label>
              <input type="password" name="signup_password" class="w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-300" placeholder="Crie uma senha">
              <div id="password_signup_error" class="text-red-500 mt-1"></div>
            </div>
            <button type="submit" class="w-full bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">Cadastro</button>
            <div id="signup_ok" class="text-green-500 mt-2"></div>
          </form>
        </div>
      </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const loginForm = document.getElementById('login_form');
        const emailLoginError = document.getElementById('email_login_error');
        const passwordLoginError = document.getElementById('password_login_error');
        loginForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            emailLoginError.textContent = '';
            passwordLoginError.textContent = '';

            const email = loginForm.login_email.value;
            const password = loginForm.login_password.value;
            // console.log(email)
            // console.log(password)

            try {
                const res = await fetch('/login', {
                    method: 'POST',
                    body: JSON.stringify({
                        login: email, password: password
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                // console.log(res);

                const data = await res.json();
                // console.log(data);

                if (data.errors) {
                    emailLoginError.textContent = data.errors.email;
                    passwordLoginError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign('/chat');
                }
            } catch (err) {
                console.log(err)
            }
        })

        const signupForm = document.getElementById('signup_form');
        const emailSignupError = document.getElementById('email_signup_error');
        const passwordSignupError = document.getElementById('password_signup_error');
        const userSignupError = document.getElementById('user_signup_error');
        const signupOk  = document.getElementById('signup_ok');
        signupForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            userSignupError.textContent = '';
            emailSignupError.textContent = '';
            passwordSignupError.textContent = '';

            const username = signupForm.signup_username.value;
            const email = signupForm.signup_email.value;
            const password = signupForm.signup_password.value;

            try {
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify({
                        username: username, email: email, password: password
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await res.json();
                if (data.errors) {
                    userSignupError.textContent = data.errors.username;
                    emailSignupError.textContent = data.errors.email;
                    passwordSignupError.textContent = data.errors.password;
                }
                if (data.user) {
                    signupOk.textContent = 'Usuário cadastrado.'
                }
            } catch (err) {
                console.log(err)
            }
        })
    </script>
</body>
</html>